/* Place any custom CSS overrides in this file */
.portfolio-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 700px));
    justify-content: center;
}

img {
    border: 1px solid #000000;
}

.gallery_1{
    display: grid;
    grid-template-columns: [left-border] 1fr [divider-1] 1fr [divider-2] 1fr [right-border];
    grid-template-rows: auto;
    column-gap: 30px;
}

.gallery_2{
    display: grid;
    grid-template-columns: [left-border] 1fr [divider-1] 1fr [divider-2] 1fr [divider-3] 1fr [right-border];
    grid-template-rows: auto;
    column-gap: 30px;
}

.about-content h2 {
    margin-top: 0px;
}

li.portfolio-card h2 {
    line-height: normal;
	min-height: 24px;
	margin-top: 16px;
	margin-bottom: 16px;
}

@media (min-width: 2000px) {
    .portfolio-grid {
    max-width: 1000px;
    }
}

@media (max-width: 768px) {
    .gallery_1, .gallery_2{
        display: block;
    }
}
