:root {
	--dark-text-color: #474747;
	--light-text-color: #ffffff;
  	--text-hover-color: #0e7eaf;
  	--logo-color: #4d4d4d;
 	--logo-hover-color: #0f84b8;
 	--bright-hover-color: #03b5e5;
 	--light-background: #efefef;
 	--medium-background: #dddddd;
 	--icon-background: #888888;

}

* {
    box-sizing: border-box;
}

:focus {
	outline-color: var(--logo-hover-color);
}

html {
	height: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 'Open Sans', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 300;
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	color: var(--dark-text-color);
}

#page-grid {
	display: grid;
  	grid-template-columns: 1fr;
  	grid-template-rows: auto 1fr auto;
  	grid-gap: 1em;
  	height: 100vh;
  	grid-template-areas:
    'header'
    'main'
    'footer';
}

.top-nav-grid {
	display: grid;
	grid-template-columns: 1fr auto;
	max-width: 1000px;
	grid-gap: 1.5em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 2em 0 2em;
}

.nav-item {
	justify-self: center;
}
.nav-logo {
	justify-self: start;
	padding: 0;
	line-height: 0;
}

nav a {
	text-decoration: none;
	display: inline;
	color: var(--dark-text-color);
}

nav a:hover {
	text-decoration: underline;
	color: var(--text-hover-color);
}

.top-nav-grid ul {
	justify-self: end;
	padding: 0;
	margin: 0;
}

.top-nav-grid li {
	display: inline;
	padding-left: 1em;
	text-transform: uppercase;
	font-weight: 400;
    font-size: .8rem;
    letter-spacing: 1px;
}


#logo {
	fill: var(--logo-color);
}

#logo:hover {
	fill: var(--logo-hover-color);
}

.main-grid {
	display: grid;
	max-width: 1000px;
	width: 100%;
	grid-gap: 2em;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 2em 0 2em;
	justify-items: center;
}

.main-grid img {
	object-fit: contain;
	width: 100%;
	align-self: center;
}

main p {
	line-height: 1.8em;
}


h1 {
	font-size: 1.8em;
	font-weight: 100;
	line-height: 1.8em;
	text-align: center;
}

section {
	padding: 0;
	margin: 0;
}

.portfolio-grid {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-template-rows: repeat(auto, auto);
	list-style: none;
	padding: 0;
	margin: 0;
}

li.portfolio-card {
	display: grid;
	padding: 0;
	margin: 0;
	line-height: 0
}

li.portfolio-card a {
	line-height: 0;
	padding: 0;
	margin: 0;
}

.contact-grid {
	display: grid;
	max-width: 1000px;
	grid-gap: 0;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto);
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 1em 0;
	justify-items: center;
}

.lets-connect {
	text-align: center;
	line-height: 1.8em;
	font-weight: 100;
	font-size: 1.5em;
	margin-bottom: .8em;
}

.contact-grid-email, .contact-grid h2 {
	font-weight: 200;
	display: inline-flex;
	flex-wrap: wrap;
	font-size: 1.3em;
	text-align: center;
	justify-content: center;
	line-height: 2em;
}

h2 {
	font-weight: 200;
	font-size: 1.3em;
}

.contact-page-email {
	font-size: 1.5em;
	font-weight: 200;
}

.contact-social-horizontal {
	list-style: none;
	text-align: center;
	padding-left: 0;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-gap: 2em;
	margin-top: 2em;
}

.contact-page .contact-social-horizontal {
	margin-top: 2.2em;
}

.contact-social-vertical {
	list-style: none;
	text-align: center;
	padding-left: 0;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	grid-gap: 2em;
	margin-top: 2.5em;
}

.contact-social-list li {
	margin-bottom: 1em;
}

.error-message {
	text-align: center;
}

.social-icon {
	fill: var(--icon-background);
}

.social-icon:hover {
	fill: var(--logo-hover-color);
}

.js-emailcopybtn {
	margin-left: 1em;
	cursor: pointer;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: var(--dark-text-color);
	background-color: var(--light-background);
	border-radius: 3px;
	border: 1px solid var(--dark-text-color);
	border: none;
}

.js-emailcopybtn:hover, .download:hover, .view-in-browser:hover {
	background-color: var(--medium-background);
}

footer {
	background-color: var(--light-background);
	/*border-top: 1px solid var(--light-background);*/
}

.footer-grid {
	display: grid;
	max-width: 1000px;
	grid-gap: 2em;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 2em 1em 2em 1em;
	font-size: .9em;
}

.footer-grid ul {
	padding: 0;
	margin: 0;
	margin-block-start: 0;
    margin-block-end: 0;
	padding-inline-start: 0;

}
.footer-nav li {
	display: inline;
	padding-left: 0;
	padding-right: 0;
	text-transform: uppercase;
	font-weight: 500;
    font-size: .8rem;
    letter-spacing: 1px;
    margin-right: 2em;
}

.footer-nav li:last-of-type {
	margin-right: 0;
}

.copyright {
	font-size: .8rem;
	justify-self: start;
}

.copyright-span {
	width: 1000px;
}

.social-links {
	justify-self: start;
	display: inline;
}
.social-links li {
	display: inline;
	margin-right: 1em;
}

.social-links li:last-of-type {
	margin-right: 0;
}

.back-to-top {
	justify-self: end;
}

.back-to-top:before {
	content: "\002191";
}

.about-grid {
	display: grid;
	max-width: 1000px;
	grid-gap: 2em;
	grid-template-columns: minmax(350px, 2fr) minmax(350px, 1fr);
	grid-template-rows: repeat(auto);
	margin-left: auto;
	margin-right: auto;
	justify-self: center;
	padding: 1em 2em 2em 2em;
	grid-template-areas:
	"header header"
	"content image";
}

.about-grid h1 {
	grid-area: header;
	margin-bottom: 0;
}

.about-grid img {
	object-fit: contain;
	align-self: center;
}

.about-grid p {
	line-height: 1.8em;
	margin-bottom: 2em;
}


.image-resume {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto 1fr;
	text-align: left;
	justify-items: left;
	justify-self: center;
}

.headshot {
	max-width: 15em;
	display: block;
	justify-self: start;
	margin-bottom: 1em;
}

.download, .view-in-browser {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: var(--dark-text-color);
	background-color: var(--light-background);
	border-radius: 3px;
	border: none;
	padding: .5rem;
	text-decoration: none;
	line-height: 1.8em;
	width: 180px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}

.download:after {
	content: "\002193";
	padding-left: .3em;
}

.view-in-browser {
	margin-bottom: 1em;
}

.view-in-browser:after {
	content: "\002197";
	padding-left: .3em;
}


.case-study-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto 1fr;
	grid-gap: 2em;
	grid-row-gap: 0;
	grid-template-areas:
	"head head head"
	"text text aside"
	"list1 list2 list3";
}

.case-study-grid2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto);
	grid-gap: 2em;
	grid-row-gap: 0;
	grid-template-areas:
	"head"
	"text";
}

.case-study-header {
	grid-area: head;
}

.case-study-text {
	grid-area: text;
}

.highlights {
	grid-area: aside;
}

.list1 {
	grid-area: list1;
}

.list2 {
	grid-area: list2;
}

.list3 {
	grid-area: list3;
}

.case-study-list ul {
	margin-top: 1em;
	margin-block-start: 0;
    margin-block-end: 0;
	padding-inline-start: 0!important;
}

.case-study-list li {
	margin-bottom: 1em;
	list-style-position: inside;
}

h3 {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 500;
}

.images-1up {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto);
	grid-row-gap: 1em;
}

.images-1up.extra {
	grid-row-gap: 3em;
}

.images-2up {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-template-rows: repeat(auto);
	grid-gap: 1em;
}

@media (max-width: 700px) {
	.about-grid {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
		"header"
		"image"
		"content";
	}
	.image-resume {
		justify-items: center;
	}
	.headshot {
		margin-left: auto;
		margin-right: auto;
	}

	.case-study-grid {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto auto auto;
		grid-template-areas:
		"head"
		"text"
		"aside"
		"list1"
		"list2"
		"list3";
	}

	.portfolio-grid, .images-2up {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 2600px) {
	.main-grid, .top-nav-grid, .portfolio-grid, .about-grid, .footer-grid, .copyright-span {
		max-width: 1500px;
	}
}
